* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.circle {
  width: 100px;
  height: 100px;
  color: white;
  background-color: #101010;
  border-radius: 100%;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}